* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.menu-container {
    display: flex; 
    background: #5995DA;
    padding: 20px 0px; 
    color: #FFF;
    justify-content: center;
}

.menu {
    width: 900px;
    display: flex;
    justify-content: space-between;
}

.links {
    display: flex;
    justify-content: flex-end;
}

.login {
    margin-left: 20px;
}

.header-container {
    display: flex;
    color: #5995DA;
    background-color: #D6e9fe;
    justify-content: center;
}

.header {
    width: 900px;
    height: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.photo-grid-container {
    display: flex;
    justify-content: center;
}

.photo-grid {
    display: flex;
    width: 900px;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    flex-direction:row-reverse;
}

.photo-grid-item {
    border: 1px solid #fff;
    width: 300px;
    height: 300px;
}

.footer {
    display: flex;
    justify-content: space-between;
}

.footer-item {
    height: 200px;
    background-color: #D6E9FE;
    border: 1px solid #fff;
    flex: 1;
}

.footer-one,
.footer-three {
    background-color: #5995da;
    flex: initial;
    width: 300px;
}